{% extends "base.html" %}
{% block content %}
<!-- Premium Header -->
<div class="card border-0 shadow-lg rounded-4 overflow-hidden mb-4">

    <div class="p-4 text-white"
        style="background: linear-gradient(135deg, #1e3c72, #2a5298); ">

        <div class="d-flex justify-content-between align-items-center flex-wrap">

            <div>
                <h2 class="fw-bold mb-1">
                     Add Dealer
                </h2>

                <p class="mb-0 opacity-75">
                    Add More New Dealers For Better Deals
                </p>
            </div>


        </div>

    </div>
</div>

<div class="container-fluid d-flex justify-content-center align-items-center" >

    <div class="card shadow-lg border-0" style="width:700px;">

        <div class="card-body p-4">

            <form method="POST">
                {% csrf_token %}

                <!-- Dealer Name -->
                <div class="mb-3">
                    <label class="form-label"><b>Dealer Name</b></label>
                    <input type="text" name="name" class="form-control"
                        placeholder="Enter dealer name" required>
                </div>

                <!-- Phone -->
                <div class="mb-3">
                    <label class="form-label"><b>Phone</b></label>
                    <input type="text" name="phone" class="form-control"
                        placeholder="Enter dealer phone" required>
                </div>

                <!-- Address -->
                <div class="mb-3">
                    <label class="form-label"><b>Address</b></label>
                    <textarea name="address" class="form-control"
                        placeholder="Enter dealer address" rows="3"></textarea>
                </div>

                <!-- Buttons -->
                <div class="d-flex justify-content-between mt-4">

                    <a href="{% url 'dealer_list' %}" class="btn btn-secondary">
                        ⬅ Back
                    </a>

                    <button type="submit" class="btn btn-success">
                        💾 Save Dealer
                    </button>

                </div>

            </form>

        </div>

    </div>

</div>

{% endblock %}