{% extends "base.html" %}
{% block content %}
<div class="col-12 card shadow p-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="mt-5">Category List</h2>
        <a href="{% url 'add_category' %}" class="btn btn-primary mt-5">Add Category</a>
    </div>

    <table class="table table-bordered table-hover">
        <thead class="table-light">
            <tr>
                <th>#</th>
                <th>Category Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{% url 'category_edit' category.id %}" class="btn btn-sm btn-warning">✏ Edit</a>
                    <a href="{% url 'category_delete' category.id %}" 
                        class="btn btn-sm btn-danger"
                        onclick="return confirm('Are you sure to delete this?')">
                         Delete
                        </a>

                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3" class="text-center text-muted">No categories available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
