<!DOCTYPE html>
<html>
<head>
    <title>Employee Dashboard</title>
</head>
<body>

<h1>Employee Panel - {{ request.user.username }}</h1>

<hr>

<h2>Recent Orders</h2>

<table border="1">
    <tr>
        <th>Order ID</th>
        <th>Customer</th>
        <th>Status</th>
    </tr>

    {% for order in recent_orders %}
    <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.customer.user.username }}</td>
        <td>{{ order.status }}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>